@use '../reusables/mixins' as mixins;
@use '../reusables/variables' as variables;

.fazedOut {
    @include mixins.fazeOut();
}

.authContainer {
    @include mixins.center();
    width: 35%;
    height: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: variables.$secondary_color;
    border-radius: 10px;
    padding: 1rem;
}

.offset{
    position: relative;
    top: 5%;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.alignCenter {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}


@media screen and (max-width:1000px) {
    .authContainer {
        width:100%;
        height: 100%;
        border-radius: 0;
    }
}