@use '../reusables//variables' as variables;

.wrapper {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: calc( 100% - 100px );
    background-color: variables.$background_color;
}

.retryImage{
    margin-left: auto;
    padding: 2rem;
    cursor: pointer;
}

.usersContainer {
    display: flex;
    padding: 0 2rem 1rem 2rem;
    overflow-y: auto;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    gap: 1rem;
}