@use '../reusables/variables' as variables;
@use '../reusables/mixins' as mixins;

.container {
    position: absolute;
    background-color: variables.$background_color;
    width: 100%;
    height: 100%;
}

.logoContainer {
    position: absolute;
    top: 50%; 
    left: 30%;
}

.line {
    width: 100vh;
    height: 0px;
    @include mixins.center();
    border: 1px solid variables.$accent_color;
    transform:  translate(-50%, -50%) rotate(90deg);
    background-color: variables.$accent_color;
}

.accountContainer {
    position: absolute;
    top:40%;
    right: 9%;
    justify-content: center;
    text-align: center;
    width: 40%;
}

@media screen and (max-width: 1000px) {
    .logoContainer{
        display: none;
    }

    .line {
        display:none;
    }

    .accountContainer {
        @include mixins.center();
        width: 100%;
    }
}

@media screen and (min-width:1000px) and (max-width: 1350px) {
    .logoContainer {
        left: 23%
    }
}