@use '../reusables/mixins';

.resetContainer {
    @include mixins.center();
    width: 50%;
    height: 50%;

    form {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 1000px) {
    .resetContainer {
        height: 100%;
        width: 100%;
    }
}