@use '../reusables/mixins' as mixins;
@use '../reusables/variables' as variables;

.fontLogo {
    @include mixins.fontClass($fontWeight: 700, $fontSize: 3rem)
}

.fontTextBold {
    @include mixins.fontClass($fontWeight: 600);
    color: variables.$text_color;
}

.extraLarge {
    font-size: 3rem !important;
}

.large {
    font-size: 2rem !important;
}
.small {
    font-size: 0.75rem !important;
}

.clickable {
    cursor: pointer;
    text-decoration: underline;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.fontText {
    @include mixins.fontClass($fontWeight: 400);
    color: variables.$text_color;
}

.button {
    border: 1px solid variables.$accent_color;
    border-radius: 50px;
    width: 20rem;
    padding: .5rem 1rem .5rem 1rem;
    cursor: pointer;
    text-align: center;
    background-color: variables.$background_color;
    color: variables.$text_color;
}

.filled {
    background-color: variables.$primary_color;
    color: variables.$text_secondary_color;
}

.inactive {
    cursor: not-allowed !important;
    background-color: variables.$inactive_color;
    color: variables.$secondary_color;
}

.inputBox {
    border-radius: 15px;
    border: 1px solid variables.$accent_color;
    width: 20rem;
    padding: .5rem 1rem .5rem 1rem;
    background-color: variables.$secondary_color;
}

.exit {
    position: relative;
    cursor: pointer;
    padding: 1rem .5rem 1rem .5rem;
    
    div{
        border: 1px solid #000000;
        background: black;
        width: 1rem;
        position: absolute;
    }

    div:nth-child(1) {
        transform: rotate(45deg);
    }

    div:nth-child(2) {
        transform: rotate(-45deg);
    }
}

.notificationContainer{
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.notification {
    margin-top: 1%;
    width: 40%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border-color: variables.$accent_color;

    p{
        display: inline-block;
    }

    p:nth-child(1) {
        float: right;
    }

    p:nth-child(2) {
        float: left;
        padding-left: 1%;
    }
}

.navbar {
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 0;
    height: 100px;
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: variables.$primary_color;
    display: flex;
    align-items: center;
}

.profilePicture{
    border-radius: 50%;
}

.triangle {
	position: relative;
	background-color: variables.$text_secondary_color;
	text-align: left;
    margin-left: 1.5%;
    margin-right: 5%;
    transition: transform 1s ease-in-out;
}

.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
    cursor: pointer;
}
.triangle,
.triangle:before,
.triangle:after {
	width:  1em;
	height: 1em;
	border-top-right-radius: 30%;
}

.triangle {
	transform: rotate(-120deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}
.pushLeft{
    margin-left: auto;
}

.dropdown {
    position: absolute;
    top: 75px;
    right: 2.5%;
    background-color: variables.$secondary_color;
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    flex-direction: column;
    border-radius: 0.25em;
    width: 15rem;
    z-index: 2;

    .item {
        position: relative;
        width: calc(100% - 1rem);
        border-bottom: solid variables.$accent_color 2px;
        cursor: pointer;
        padding: .5rem
    }

    a{
        text-decoration: none;
        color: black;
        @include mixins.fontClass($fontWeight: 400);
    }

    div:nth-child(4){
        border-bottom: none;
        p{
            text-decoration: none;
        }
    }
}

.rotate {
    transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}

.toggle {
    input[type=checkbox] {
        height: 0;
        width: 0;
        visibility: hidden;
    }
    
    label {
        cursor: pointer;
        text-indent: -9999px;
        width: 100px;
        height: 50px;
        background: grey;
        display: block;
        border-radius: 100px;
        position: relative;
    }
    
    label:after {
        content: '';
        position: absolute;
        top: 2.5px;
        left: 2.5px;
        width: 45px;
        height: 45px;
        background: #fff;
        border-radius: 90px;
        transition: 0.3s;
        }
    
    input:checked + label {
        background: #bada55;
    }
    
    input:checked + label:after {
        left: calc(100% - 2.5px);
        transform: translateX(-100%);
    }
    
    label:active:after {
        width: 65px;
    }
}

.message {
    background: variables.$primary_color;
    border-radius: 15px 15px 0px 15px;
    width: fit-content;
    max-width: 75%;
    padding: .75rem;
    align-self: flex-end;
    margin-right: .5rem;
    word-wrap: break-word;

    p {
        font-size: medium;
    }
}

.recieved {
    background: variables.$accent_color;
    border-radius: 15px 15px 15px 0px;
    align-self: flex-start;
    margin-right: 0;
    margin-left: .5rem;
}

.user {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: variables.$secondary_color;
    width: calc(50% - 1rem);
}

.userHeader  {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: .5rem;
    background-color: variables.$primary_color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 0px 0px;
}

.userHeaderText {
    display: flex;
    margin-left: .5rem;
    flex-direction: column;

    h1{
        font-size: 2rem !important;
        text-decoration: none;
    }

    p{
        font-size: 1rem !important;
    }
}

.detailsContainer {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;

    p{
        font-size: 1rem !important;
    }
}

.popupWrapper {
    @include mixins.fazeOut();
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    border-radius: 25px;
    background-color: variables.$secondary_color;
    padding: 2rem;
    border-width: 2px;
    border-style: solid;
    border-color: variables.$accent_color;
}

.popupButtons {
    display: flex;
    gap: 1rem;
}


@media screen and (max-width: 1000px) {
    .notification{
        width: calc(100% - 1rem);
    }

    .user{
        width: calc(100% - 1rem);
    }

    .userHeaderText{
        h1{
            font-size: 3rem !important;
        }

        p{
            font-size: .1.5rem !important;
        }
    }
}