@use '../reusables/mixins' as mixins;
@use '../reusables/variables' as variables;

.fontLogo {
    @include mixins.fontClass($fontWeight: 700, $fontSize: 3rem)
}

.fontTextBold {
    @include mixins.fontClass($fontWeight: 600);
}

.large {
    font-size: 3rem !important;
}

.fontText {
    @include mixins.fontClass($fontWeight: 400);
}

.button {
    border: 1px solid variables.$accent_color;
    border-radius: 50px;
    width: 20rem;
    padding: .5rem 1rem .5rem 1rem;
    cursor: pointer;
    text-align: center;
}

.filled {
    background-color: variables.$primary_color;
    color: variables.$secondary_color;
}

.inactive {
    cursor: not-allowed !important;
    background-color: variables.$inactive_color;
    color: variables.$secondary_color
}

.inputBox {
    border-radius: 10px;
    border: 1px solid variables.$accent_color;
    width: 20rem;
    padding: .5rem 1rem .5rem 1rem;
}

.exit {
    position: relative;
    left: 5%;
    top:5%;
    cursor: pointer;

    div{
        border: 1px solid #000000;
        background: black;
        width: 1rem;
        position: absolute;
    }

    div:nth-child(1) {
        transform: rotate(45deg);
        top: 1%
    }

    div:nth-child(2) {
        transform: rotate(-45deg);
    }
}
