@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700&display=swap');

$primary_color: #1976D2;
$text_color: black;
$secondary_color: white;
$font_family: 'Orbitron', sans-serif